body {
    background-color: dimgray;
}

h1 {
    text-align: center;
}

h1, h2, h3, p {
    font-family: Helvetica, sans-serif;
    color: white;
}

img {
    width: 250px;
    height: 250px;
}

#authenticate {
    text-align: center;
}

.outputs {
    margin-bottom: 20px; /* Add some space between sections for clarity */
}

.outputs img,
.outputs h3,
.outputs p {
    display: inline-block;
    vertical-align: middle; /* Align elements vertically in the middle */
}

