body {
    background-color: dimgray;
}

h1 {
    text-align: center;
}

h1, h2, h3, p {
    font-family: Helvetica, sans-serif;
    color: white;
}

img {
    width: 250px;
    height: 250px;
}

.results {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    width: 100%;
}

#authenticate {
    text-align: center;
}

.plots {
    align-content: center;
}
