body {
    background-color: dimgray;
}

h1 {
    text-align: center;
}

h1, h2, h3, p {
    font-family: Helvetica, sans-serif;
    color: white;
}

img .outputs {
    width: 250px;
    height: 250px;
}

#spotify_logo {
    width: 236px;
    height: 71px;
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 5px;
    margin-top: 5px;
}

.plots h2 {
    text-align: center;
}

#authenticate {
    text-align: center;
}


